h1{
    background-color: #5ba300;
    color: #cfebb6;
    font-family: 'Verdana';
    font-size: pt25;
    border: solid #cfebb6;
    border-width: 5px 20px;
    text-align: center;
}
h2{
    color: #029356;
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;
}
h3{
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;
}
p{
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;

}
ul{
    background-color: green;
}
